body {
    margin: 0;
    background-color: #eeeeee;
}
.main {
    margin:0 0 0 0;
    clear: both;
    display: block;
    width: 100%;
}
.right-content {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 100px;
    width: 65%;
}
.list-title {
    margin: 80px 30px 10px 30px;
    float: left;
}
.list {
    background-color: white;
    width: 100%;
    height: 140px;
    float: left;
    margin-top: 50px;
    margin-left: 20px;
    padding-bottom: 20px;
    -webkit-box-shadow: 3px 3px 2px 2px rgba(0,0,0,.3);
    box-shadow:  3px 3px 2px 2px rgba(0,0,0,.3);
}
.loginOut{
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    font-weight: bold;
    right: 20px;
    font-size: 20px;
}
.loginOut a {
    color: #8F8F8F;
    text-decoration: none;
}

.fl {
    float: left;
    margin-left: 20px;

}
.fr {
    float: right;
   margin: 0;
}
.clearf:after,
.clearf:before {
    content: " ";
    display: block;
    clear: both;
}
.p1{
    padding: 10px 10px 0;
    font-size: 18px;
    font-weight: bold;
}
.p2{
    padding: 10px;
    font-size: 16px;
    color: #8F8F8F;
}
.p3{

    font-size: 20px;
    color: #8F8F8F;
    padding-right: 20px;
  }

.bd{
    margin-top: 20px;
    border-right: 2px solid #8F8F8F;
    opacity: 0.5;
    padding-right: 600px;
    height: 60px;
}
.pad{
    padding-right: 30px;
}
.bottom1{
    border-top: 2px solid #8F8F8F;
    margin-top: 100px;
    padding-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
.cc{
    padding: 2px 10px;
}
.cc:hover{
    -webkit-box-shadow: 3px 3px 2px 2px rgba(0,0,0,.3);
    box-shadow:  3px 3px 2px 2px rgba(0,0,0,.3);
    padding:  2px 10px;
    text-align: center;
}

.checkmain{
    margin: 5% 10%;
    background-color: white;
    -webkit-box-shadow: 3px 3px 2px 2px rgba(0,0,0,.3);
    box-shadow:  3px 3px 2px 2px rgba(0,0,0,.3);
    padding: 20px;
}
.qsttop{
    margin:2% 5%;

}
.qstl{
    font-size:20px;
    font-weight: bold;

}
.qstr{
    font-size:20px;
    font-weight: bold;
}
.no{
    font-size:18px;
    color: darkgrey;
    padding-top:2px;
}
.grade{
    font-size:18px;
    color: darkgrey;
    margin-left: 10px;
}
.answer{
    border-top: 1px solid #8F8F8F;
    padding: 30px;
    clear: both;
    margin-top: 80px;
}